<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的购物车</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/buy.css">
    <script src="js/vue.js"></script>
        
</head>
<body>
    <header>
        <div id="hNav">
            <div class="navcon">
                <div class="center">
                    <ul id="login">
                        <li class="sign">
                            <a href="#">这里是用户名</a>
                            <a href="#" style="color:#e62318;">[退出]</a>
                        </li>
                    </ul>
                    <ul id="custom">
                        <li>
                            <a href="#">我的美乐乐</a><span class="arrow"></span>
                            <ul class="list">
                                <li><a href="#">我的订单</a></li>
                                <li><a href="#">我的金币</a></li>
                                <li><a href="#">我的红包</a></li>
                                <li><a href="#">我的收藏</a></li>
                                <li><a href="#">我的评价</a></li>
                                <li><a href="#">申请保价</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="car"></span>
                            <a href="#">购物车</a><span class="arrow"></span>
                        </li>
                        <li>
                            <a href="#">关注美乐乐</a><span class="arrow"></span>
                            <ul class="list">
                                <li class="erweima"><img src="images/erweima.jpg" alt=""></li>
                                <li>扫码关注</li>
                                <li class="tip"><img src="images/gunzhu.jpg" alt=""></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">帮助中心</a><span class="arrow"></span>
                            <ul class="list">
                                <li><a href="#">购买流程</a></li>
                                <li><a href="#">在线帮助</a></li>
                                <li><a href="#">企业采购</a></li>
                            </ul>
                        </li>
                        <li><a href="#">收藏本站</a></li>
                        <li>
                            全国热线: <span class="tel">400 00098666</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="search clearfix">
                    <div class="logo"><img src="images/logo.png" alt=""></div>
                    <div class="form">
                        <form class=" clearfix">
                            <input type="text">
                            <a href="#" class="btn fr">搜索</a>
                        </form>
                        <div class="keywords">
                            <a href="#">电视柜/茶几两件八折</a>
                            <a href="#">床</a>
                            <a href="#">沙发</a>
                            <a href="#">餐桌椅</a>
                            <a href="#">实木床</a>
                            <a href="#">灯饰</a>
                            <a href="#">转角沙发</a>
                        </div>
                    </div>
            </div> 
        </div>
    </header>

    <main>
        <div class="center clearfix" id="app">
            <form action="">
                <div class="title clearfix">
                    <ul>
                        <li>全部商品<span>3</span></li>
                        <li>降价商品<span>0</span></li>
                    </ul>
                </div>
                <div class="table">
                    <ul class="table-title clearfix">
                        <li><span><input type="checkbox"></span> </li>
                        <li>全选</li>
                        <li>商品</li>
                        <li>单价</li>
                        <li>数量</li>
                        <li>金额</li>
                        <li>操作</li>
                    </ul>
                    <div class="box clearfix">
                        <div><span><input type="checkbox"></span></div>
                        <div><span>美乐乐自营</span><button>客服</button></div>
                    </div>
                    <ul class="list clearfix">
                        <li v-for="(product,index) in productList" :class="{red: product.isRed}" class="clearfix">
                            <span class="delAll"><input type="checkbox" @click.stop="" v-model="checked" :value="index" @click="select(product)"></span> 
                            <span class="product-img"><img :src="product.img" alt=""></span>
                            <span class="product-title" v-cloak>{{product.title}}</span>
                            <span class="product-name" v-cloak>{{product.name}}</span>
                            <span class="product-price" v-cloak>￥{{product.price}}/套</span>
                            <span class="product-count">
                                <div @click="add(index)">+</div>
                                <div v-cloak>{{product.count}}</div>
                                <div @click="reduce(index)">-</div>
                            </span>
                            <span class="price" v-cloak>￥{{product.tprice}}</span>
                            <span class="del" @click.stop="del(index)">删除</span> 
                        </li>
                    </ul>
                </div>
            </form>
            <div id="total">
                <span @click="delAll()" class="fl">删除选中产品</span>
                <div class="fr">
                    <span class="fl">总价:￥{{sum()}}</span>
                    <button>去下单</button>
                </div>

            </div>
    </main>
    <footer>
        <div class="icon">
            <div class="center clearfix">
                <a href="#"><span class="icon1"></span>美乐乐O2O</a>
                <a href="#"><span class="icon2"></span>全国体验馆</a>
                <a href="#"><span class="icon3"></span>双重质检</a>
                <a href="#"><span class="icon4"></span>售后无忧</a>
                <a href="#"><span class="icon5"></span>原创设计</a>
                <a href="#"><span class="icon6"></span>全球采购</a>
                <a href="#"><span class="icon7"></span>万千口碑</a>
                <a href="#"><span class="icon8"></span>团队优势</a>
            </div>
        </div>
        <div class="extend">
            <div class="center">
                <ul id="fLink">
                    <li>
                        <div class="switch">
                            <span>热门城市：</span>
                            <a href="#">北京家具</a>
                            <a href="#">上海家具</a>
                            <a href="#">重庆家具</a>
                            <a href="#">深圳家具</a>
                            <a href="#">广州家具</a>
                            <a href="#">成都家具</a>
                            <a href="#">佛山家具</a>
                            <a href="#">长沙家具</a>
                            <a href="#">苏州家具</a>
                            <a href="#">天津家具</a>
                            <a href="#">福州家具</a>
                            <a href="#">郑州家具</a>
                            <a href="#">昆明家具</a>
                            <a href="#">东莞家具</a>
                            <a href="#">西安家具</a>
                            <a href="#">济南家具</a>
                            <span></span>
                        </div>
                    </li>
                    <li>
                        <div class="switch">
                            <span>友情链接：</span>
                            <a href="#">亿智蘑菇</a>
                            <a href="#">湖北招考网</a>
                            <a href="#">土巴兔装修网</a>
                            <a href="#">西祠胡同</a>
                            <a href="#">搜狗焦点家居</a>
                            <a href="#">酷我音乐</a>
                            <a href="#">西陆新闻</a>
                            <a href="#">装修</a>
                            <a href="#">当贝市场</a>
                            <a href="#">女性</a>
                            <a href="#">住哪网</a>
                            <a href="#">中国时尚品牌网</a>
                            <a href="#">中国建材采购网</a>
                            <a href="#">七丽女性网</a>
                            <a href="#">装修</a>
                            <a href="#">糖豆广场舞</a>
                            <a href="#">战略军事</a>
                            <a href="#">得意生活</a>
                            <a href="#">好豆菜谱</a>
                            <a href="#">天堂图片网</a>
                            <a href="#">卡车之家</a>
                            <a href="#">千里马招标网</a>
                            <a href="#">中大网校</a>
                            <a href="#">美食杰</a>
                            <a href="#">商界招商网</a>
                            <a href="#">美乐乐</a>
                            <a href="#">建材网</a>
                            <a href="#">电商新闻</a>
                            <span id="btn"></span> 
                        </div>
                    </li>
                </ul>
                <div class="end">
                    <ul class="msg">
                        <li>
                            <a href="#">装修网</a> |
                            <a href="#">家具图片</a> |
                            <a href="#">家居资讯</a> |
                            <a href="#">生活百科</a> |
                            <a href="#">家私导购</a> |
                            <a href="#">品牌展厅</a> |
                            <a href="#">装修论坛</a> |
                            <a href="#">装修效果图</a> |
                            <a href="#">客服中心</a> |
                            <a href="#">网站地图</a> |
                            <a href="#">友情链接</a> |
                            <a href="#">更多</a>
                        </li>
                        <li>
                            <span>© 2005-2018 美乐乐  天津美维信息技术有限公司 版权所有，并保留所有权利。</span>
                            <a href="#">ICP备案证书号：粤ICP备08008334号</a>
                        </li>
                    </ul>
                    <ul class="credit">
                        <li>
                            <a href="#">
                                <span class="icon1"></span>
                                <span class="word">诚信网站</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon2"></span>
                                <span>认证联盟品牌官网</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon3"></span>
                                <span>可信网站信用评价</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon4"></span>
                                <span>经营网站备案信息</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

 <script>
 new Vue({
     el: '#app',
     data: {
         productList: [
             {
                'img': 'images/buylistsmall.jpg',
                'title': '经典蓝色 小户型专享 可拆洗时尚储物多功能收纳沙发床 百变造型 上等棉麻印花 右转角沙发（1+3+右贵妃）',
                'name' : '类型：右转角沙发（1+3+右贵妃）',
                'price': 3899.00,
                'tprice':3899.00,
                'count':1,
                'isRed': false,
             },
             {
                'img': 'images/buylistsmall1.jpg',
                'title': '简约大气 百搭小清新  北欧时尚 小户型客厅家具组合（1+2+3）沙发 维纳恩系列',
                'name' : '类型：（1+2+3）沙发',
                'price': 9999.00,
                'tprice':9999.00,
                'count':1,
                'isRed': false,
             },
             {
                'img': 'images/buylistsmall2.jpg',
                'title': '欧式简约 上等白蜡木框架舒适棉麻布艺沙发 四人位沙发套装(4人位+脚踏)',
                'name' : '类型：四人位沙发套装',
                'price': 6499.00,
                'tprice':6499.00,
                'count':1,
                'isRed': false,
             },
             {
                'img': 'images/buylistsmall3.jpg',
                'title': '书桌下柜左右通用 优质橡胶木 板木结合 多功能实用儿童转角书桌（上架+下座）',
                'name' : '类型：（上架+下座）书桌',
                'price': 9999.00,
                'tprice':9999.00,
                'count':1,
                'isRed': false,
             },
         ],
          total: 0, //总价
          title: '', //添加的商品名称
          price: '',//添加商品的价格
          keyword: '', //搜索商品的关键字
          checked: [], //存入要删除商品的index
          img:'',
          count:1,
          tprice:9999.00,
     },
     methods: {
         select(product){            
             product.isRed = !product.isRed; 
         },
         add(index){
            this.productList[index].count++;
         },
         reduce(index){
				if(this.productList[index].count == 1){
					this.productList[index].count;
					
				}else{
					this.productList[index].count--;
				}
			    
		},
        del(index){
             this.productList.splice(index,1);
         },
        delAll(){
            let arr = this.productList.filter((val, index)=>{
                if(!this.checked.includes(index)){
                    return val;  
                 }                               
             });
             this.productList = arr;
             this.checked = []; 
         },
         sum(){
             let sum = 0;
             this.productList.forEach(function(val, index){
                 if(val.isRed){
                     sum += parseInt(val.price);
                 }                 
             })
             return sum
         },
     }
 });
 </script>

</body>
</html>